# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
x64

# C# build artifacts
/bin/
/obj/

# JetBrains IDE files
/.idea/

# Test project build artifacts
console-shooter.Tests/bin/
console-shooter.Tests/obj/
